.nave {
    background-color: #4E1E10;
    color: white;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p0 {
    padding: 0;
    margin: 0;
}

.p2 {
    padding: 10px;
}

header {
    display: block;
    margin: 0 0 0 0;
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/282860-P61N1Z-483.png);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    z-index: 0;
}

.sobre {
    background: #4E1E10;
    height: 100%;
    z-index: 1;
    position: relative;
    padding: 0;
    margin: 0;
}
.produtos {
    background: red;
    height: 100%;
    z-index: 3;
    position: relative;
    padding: 0;
    margin: 0;
}
.contato {
    background: blue;
    height: 100%;
    z-index: 2;
    position: relative;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 80%;
    height: 100px;
    background: #D59310;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px auto;
    z-index: 10;
    border: 0;
    padding: 0;
    position: absolute;
}

.container-sobre{
    margin-top: 10%;
}



.affix {
    top: 50px;
    width: 100%;
    height: 60px;
}

.affix + .container-fluid {
    padding-top: 0px;
}

section{
    top: -70px;
}
