.bar{
    background-color: #4E1E10;
    color: white;
}

.p{
    padding: 0;
}

header{
    display: block;
    margin: 0 0 0 0;
    padding: 0;
}


.home .logo{
    background-image: url(../img/282860-P61N1Z-483.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    opacity: 0.6;
}

.logo{
    opacity: 1;
}